<ion-list [inset]="true" *ngIf="typeSelect === 'HOME_SELECTOR'">
  <ion-item [button]="true" lines="none" class="option-select"
    (click)="optionChange('Listado de clientes', 'LIST_CLIENT')">
    <ion-icon slot="start" name="people" size="large" class="icon-select"></ion-icon>
    <ion-label>Listado de clientes</ion-label>
  </ion-item>
  <ion-item [button]="true" lines="none" class="option-select"
    (click)="optionChange('Crear nuevo cliente', 'NEW_CLIENT')">
    <ion-icon slot="start" name="person-add" size="large" class="icon-select"></ion-icon>
    <ion-label>Crear nuevo cliente</ion-label>
  </ion-item>
</ion-list>


<ion-row *ngIf="typeSelect === 'LIST_CLIENT'">
  <ion-col size='12'>
    <app-tabla-cliente></app-tabla-cliente>
  </ion-col>
</ion-row>

<ion-row *ngIf="typeSelect === 'NEW_CLIENT'">
  <ion-col size='12'>
    <app-nuevo-cliente></app-nuevo-cliente>
  </ion-col>
</ion-row>