<ion-list [inset]="true">
  <ion-item [button]="true">
    <ion-icon color="danger" slot="start" name="list-circle" size="large"></ion-icon>
    <ion-label>Listado de clientes</ion-label>
    <ion-note slot="end">6</ion-note>
  </ion-item>
  <ion-item [button]="true">
    <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
    <ion-label>Crear nuevo cliente</ion-label>
    <ion-note slot="end">15</ion-note>
  </ion-item>
  <!-- <ion-item [button]="true">
    <ion-icon color="success" slot="start" name="list-circle" size="large"></ion-icon>
    <ion-label></ion-label>
    <ion-note slot="end">3</ion-note>
  </ion-item>
  <ion-item [button]="true">
    <ion-icon color="warning" slot="start" name="list-circle" size="large"></ion-icon>
    <ion-label>Reminders</ion-label>
    <ion-note slot="end">8</ion-note>
  </ion-item> -->
</ion-list>